name: Java17-Maven-Build

on: [push]

jobs:
  build-java-17:

    runs-on: ubuntu-latest

    steps:
    # Checkout the code
    - uses: actions/checkout@v3

    # Java 16 Builds
    - name: Set up JDK 17
      uses: actions/setup-java@v3.3.0
      with:
        java-version: 17
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
