name: Java11-Maven-Build

on: [push]

jobs:
  build-java-11:

    runs-on: ubuntu-latest

    steps:
    # Checkout the code
    - uses: actions/checkout@v1
    
    # Java 11 Builds
    - name: Set up JDK 11
      uses: actions/setup-java@v2.3.0
      with:
        java-version: 11
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
